<div class="row" data-controller="catalogo_nomes">

	<div class="col-lg-12">
		<div class="float-right">
			<%= link_to "Novo", new_catalogo_nome_path, class: "btn btn-bold btn-success" %>
		</div>
	</div>
	
	<div class="col-lg-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Catalogo Nomes</h4>
			</div>

			<div class="card-body">
				<table class="table">
					<thead>
						<tr>
						<th>Nome</th>
						<th>Ordem Nome</th>
						<th>Competicaos Eventos</th>
						<th style="width: 160px;">Ações</th>
						</tr>
					</thead>
					<tbody>
						<% @catalogo_nomes.each do |catalogo_nome| %>
							<tr id="catalogo_nome-item-<%= catalogo_nome.id %>">
								<td><%= catalogo_nome.nome %></td>
								<td><%= catalogo_nome.ordem_nome %></td>
								<td><%= catalogo_nome.competicaos_eventos.name rescue "Atributo Indefinido" %></td>

								<td class="project-actions">
									<%= link_to edit_catalogo_nome_path(catalogo_nome), class: "btn btn-icona btn-neutral btn-info btn-sm" do %>
										<!-- <i class="icon-pencil"></i> -->
										<i class="fas fa-pen"></i>
										
									<% end if can? :update, catalogo_nome %>
									<%= link_to "javascript:void(0);", 'data-catalogo_nomes-id': catalogo_nome.id, "data-action": "catalogo_nomes#delete", class: "btn btn-icona btn-neutral btn-danger btn-sm delete" do %>
										<i class="fas fa-trash"></i>
									<% end if can? :destroy, catalogo_nome %>
								</td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>

		</div>
	</div>
</div>






<% content_for :javascript do %>
	<script type="text/javascript">
		$(".delete").click(function(){
			id = $(this).data('id');
			 swal({
				title: "Você tem certeza?",
				text: "Não será possível recuperar esses dados!",
				type: "warning",
				showCancelButton: true,
				confirmButtonColor: "#DD6B55",
				confirmButtonText: "Sim, quero remover!",
				closeOnConfirm: false
			}, function(isConfirm) {
				if(isConfirm){
					$.ajax({
						type: "POST",
						url: "/catalogo_nomes/" + id,
						dataType: "json",
						data: {"_method": "delete"},
						success: function(){
							$("#catalogo_nome-item-" + id).remove();
							swal("Excluido!", "Os dados foram eliminados.", "success");
						},
						error: function(){
							swal("Erro!", "Os dados não foram excluidos.", "error");
						}
					});
				}
			});
			event.preventDefault();
		});
	</script>
<% end %>
