<div class="row" data-controller="competicao-avalicaos">

	<div class="col-lg-12">
		<div class="float-right">
			<%= link_to "Novo", new_competicao_avalicao_path, class: "btn btn-bold btn-success" %>
		</div>
	</div>
	
	<div class="col-lg-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Competicao Avalicaos</h4>
			</div>

			<div class="card-body">
				<table class="table">
					<thead>
						<tr>
						<th>Competicao Juri</th>
						<th>Criterios Competicao</th>
						<th>Inscricao</th>
						<th>Nota</th>
						<th>Data</th>
						<th style="width: 160px;">Ações</th>
						</tr>
					</thead>
					<tbody>
						<% @competicao_avalicaos.each do |competicao_avalicao| %>
							<tr id="competicao_avalicao-item-<%= competicao_avalicao.id %>">
								<td><%= competicao_avalicao.competicao_juri.name rescue "Atributo Indefinido" %></td>
								<td><%= competicao_avalicao.criterios_competicao.name rescue "Atributo Indefinido" %></td>
								<td><%= competicao_avalicao.inscricao.name rescue "Atributo Indefinido" %></td>
								<td><%= competicao_avalicao.nota %></td>
								<td><%#= competicao_avalicao.data %></td>

								<td class="project-actions">
									<%= link_to edit_competicao_avalicao_path(competicao_avalicao), class: "btn btn-icona btn-neutral btn-info btn-sm" do %>
										<!-- <i class="icon-pencil"></i> -->
										<i class="fas fa-pen"></i>
										
									<% end if can? :update, competicao_avalicao %>
									<%= link_to "javascript:void(0);", 'data---id': competicao_avalicao.id, "data-action": "-#delete", class: "btn btn-icona btn-neutral btn-danger btn-sm delete" do %>
										<i class="fas fa-trash"></i>
									<% end if can? :destroy, competicao_avalicao %>
								</td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>

		</div>
	</div>

	
</div>

